body {
    font-size:16px;
    font-family:Helvetica, Arial, freesans, sans-serif;
    background-color:#F0F0F0;
}

h1
{
    line-height:105%;
    margin:15px 0px 5px 0px;
    font-size:190%;
    font-weight:normal;
    letter-spacing:-1px;
}
h2 {
    margin:15px 0px 5px 0px;
    font-size:140%;
    color: #505050;
    font-weight:normal;
}
h3
{
    margin:1ex 0px;
}
p {
    margin:1ex 0px;
}
ul
{
    padding-left: 1em;
}
li
{
    margin:1ex 0px;
}
a {
    color:#905010;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
table
{
    margin-top:0px;
}
/*
td:not(.menu)
{
	vertical-align:top;
	padding:1ex 0px;
}
*/
td.media_logo
{
    padding-right:1ex;
}

table.dllist
{
    border-collapse: collapse;
}
table.dllist td
{
    padding-left:1ex;
    padding-right:1ex;
    padding-top:0.5ex;
    padding-bottom:0.5ex;
    border: solid 1px #C0C0C0;
}
table.dllist td.mono
{
    font-family:monospace;
    font-size:90%;
    text-align:right;
}
table.dllist th
{
    text-align: left;
    padding-left:1ex;
    background-color: #C0C0C0;
    font-weight:400;
}

div.texbanner table
{
    background-repeat:no-repeat;
    padding:0;
    margin:0;
    margin-bottom:0ex;
    margin-top:6ex;
    width:100%;
}
div.texbanner td
{
    padding-left:10px;
    padding-top:2ex;
    padding-bottom:2ex;
}
div.texbanner h1
{
    margin-top:0px;
    margin-bottom:0px;
    color:#ffffff;
}

.infobutton
{
    border:solid 1px #A0A0A0;
    border-radius:5px;
    background-color:#D0D0FF;
    padding:0 0.6ex;
}
.tooltip
{
    position: relative;
    display: inline-block;
}
.tooltip .tttext
{
    visibility: hidden;
    padding: 5px 0;
    background-color:#FFFFC0;
    border: solid 1px black;
    padding:4px;
    position: absolute;
    top:2ex;
    left:105%;
    width:250px;
    z-index: 1;
}
.tooltip:hover .tttext {
    visibility: visible;
}

div.banner
{
    width:100%;
    height:80px;
    background-color:black;
    background-image:url("images/banner3.jpg");
    background-repeat:no-repeat;
    background-position:center;
}

/* top menu ribbon styles */
div.menu
{
    width:100%;
    height:47px;
    color:white;
    background-color:#202020;
    font:16px/39px arial, sans-serif;
    padding:0px;
    margin:0px;
    border:solid 1px #202020;
    position:relative;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
}
div.sb-left
{
    box-shadow: 3px 0px 3px 0px rgba(0,0,0,0.5);
}
div.sb-right
{
    box-shadow: -3px 0px 3px 0px rgba(0,0,0,0.5);
}

div.menu div.inline-banner
{
    display:none;
}
div.menu dl
{
    margin:0px;
    border:0px;
    display:inline-block;
    text-align:left;
}
div.menu dl a:not(.inline-banner)
{
    padding:0px 10px 0px 10px;
    border-bottom:solid 4px #202020;
    border-top:solid 4px #202020;
    color:white;
    display:block;
    text-decoration:none;
    height:39px;
    cursor:pointer;
}
div.menu a img[src$="triple_equal.png"]
{
    width:20px;
    height:20px;
    position:relative;
    vertical-align:text-bottom;
}
div.menu img[src$="search.png"]
{
    width:20px;
    height:20px;
    position:relative;
    vertical-align:text-bottom;
}
div.menu div.center-menu dl span
{
    padding:0px 10px 0px 10px;
    border-bottom:solid 4px #FFFFFF;
    border-top:solid 4px #202020;
    display:block;
}
div.menu dl a:hover:not(.inline-banner)
{
    border-bottom:solid 4px #C09060;
    border-top:solid 4px #C09060;
    background-color:#C09060;
}
dl.sb-toggle-left
{
    position:absolute;
    left:0px;
}
dl.sb-toggle-right
{
    position:absolute;
    right:2px;
}

div.fullscreen-img
{
    background-image:url("images/index_bkg3.jpg");
    background-repeat:no-repeat;
    background-position:center top;
    background-color:#3E5179;
}

div.center
{
    text-align:center;
}
div.noscroll-content
{
    position:absolute;
    top:129px;
    bottom:0px;
    left:0px;
    right:0px;
    overflow:hidden;
}


.content {
    width:100%;
    max-width:800px;
    margin:0 auto 0 auto;
    background-color:white;
    border-width:0px 1px 1px 1px;
    border-style:solid;
    border-color:#D0D0D0;
}

.main-section
{
    display:flex;
    display:-webkit-flex;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    flex-direction:row;
    -webkit-flex-direction:row;
    align-items:stretch;
    -webkit-align-items:stretch;
    padding:1% 1% 0% 1%;
}

.main-col
{
    max-width:800px;
    display:inline-block;
    margin-bottom:0px;
    padding:0px 2% 0px 2%;
    flex-grow:1;
    -webkit-flex-grow:1;
}
.aux-col
{
    flex-grow:1;
    -webkit-flex-grow:1;
    padding:0px 2% 0px 2%;
    margin:0px -3px 1ex -3px;
    display:inline-block;
}

.tile-container
{
    display:flex;
    display:-webkit-flex;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    align-items:stretch;
    -webkit-align-items:stretch;
    justify-content:space-between;
    -webkit-justify-content:space-between;
    margin:1ex 0px;
}
.tile
{
    display: inline-block;
    width:31.35%;
    font-size:13px;
    margin:0ex 0px 0ex 0px;
}
.tile img
{
    width:100%
}
.tile p
{
    margin:0.5ex 0px 1.5ex 0px;
}

.tile-container-aux
{
    display:flex;
    display:-webkit-flex;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    font-size:13px;
    height:100%;
}
.aux-col-item
{
    text-align:center;
    min-height:64px;
    border:solid 1px #A0A0A0;
    border-radius:3px;
    margin:3px;
    padding:0px 5px;
    flex-grow:1;
    -webkit-flex-grow:1;
}
.vertical-spacer
{
    display:none;
}

.two-col {
    display:inline-block;
    width:96%;
    padding:10px 2%
}
.install-box
{
    border:solid 1px #C0C0C0;
    border-radius:10px;
    margin-bottom:1ex;
}


.two-col2
{
    position:relative;
    display:inline-block;
    width:96%;
    padding:0;
    margin: 0 0 2ex 0;
    border:solid 1px #C0C0C0;
    border-radius:10px;
}
.install-box-top
{
    border:0px;
    border-radius:9px 9px 0px 0px;
    padding:5px 4%;
    background-color:#D0D0FF;
}
.install-box-middle
{
    border:0px;
    padding:5px 4% 8ex 4%;

}
.install-box-bottom
{
    position: absolute;
    bottom:0px;
    border:0px;
    padding:5px 4%;
    width:92%;
}

.footer
{
    font-size:13px;
    display:flex;
    display:-webkit-flex;
    justify-content:space-between;
    -webkit-justify-content:space-between;
    border-top:solid 1px #A0A0A0;
    padding:2ex 3% 2ex 3%;
}
.footer-item
{
    flex-grow:1;
    -webkit-flex-grow:1;
}

div.sbar
{
    font-size:16px;
    color:#ffffff;
    overflow-x:hidden;
}
.sidebar-menu {
    width:100%;
    margin:0px;
}
div.sidebar-menu dl {
    display:block;
    padding:0px;
    margin:0px 0px 0px 0px;
    border-bottom:solid 1px #404040;
}
div.sidebar-menu dl a:hover {
    background-color:#C09060;
    border-left:solid 10px #C09060;
}
div.sidebar-menu dl a
{
    padding:10px;
    display:block;
    text-decoration:none;
    color:#ffffff;
    border-left:solid 10px #202020;
}
div.sidebar-menu dl span
{
    padding:10px;
    display:block;
}
div.sidebar-menu .sb-close
{
    cursor:pointer;
    background-color:#505050;
    border-left:solid 10px #A0A0A0;
}
div.sidebar-menu .sb-close:hover
{
    background-image:url('images/symbols/pushleft.png');
    background-position:right;
    background-repeat:no-repeat;
}
div.sidebar-menu img[src$="search.png"]
{
    width:20px;
    height:20px;
    position:relative;
    vertical-align:text-bottom;
}

div.img-menu dt
{
    padding:0px;
    position:relative;
}
div.img-menu dl
{
    margin:0px;
    border-bottom:solid 1px #A0A0A0;
}
div.img-menu img
{
    width:200px;
    vertical-align:top;
}
div.img-menu p
{
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    padding:3px 6px;
    margin:0px;
    background-color:rgba(50,50,50,0.7);
    color:white;
}
div.img-menu dl
{
    cursor:pointer;
}
div.img-menu .camera
{
    position:absolute;
    left:10px;
    top:10px;
    width:32px;
    height:32px;
    background-image:url('images/symbols/camera.png');
}
div.img-menu dl .camera
{
    display:none;
}
div.img-menu dl:hover p
{
    background-color:rgba(255,255,255,0.8);
    color:black;
}

/* Galleria slide show styles */
.galleria
{
    position:relative;
    width:100%;
    height:100%;
    padding:0px;
}
.galleria-thumbnails-container {
    height:0px;
}
div.galleria a
{
    color:#ffffff;
}

div.collection
{
    position:relative;
    width:164px;
    height:103px;
    margin:0px 0px 4px 0px;
    border:solid 3px #A0A0FF;
    background-color:white;
}
div.collection:not(.current)
{
    border:solid 3px #A0A0A0;
}
div.collection a:hover
{
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}
div.collection img
{
    width:164px;
    height:103px;
}
div.collection p
{
    position:absolute;
    bottom:0px;
    left:0px;
    right:0px;
    padding:2px;
    margin:0px;
    background-color:rgba(50,50,50,0.7);
}
div.collection a
{
    font-size:14px;
    font-weight:bold;
    color:white;
}

.button
{
    display:inline-block;
    padding:10px 20px;
    color:White;
    border-radius:5px;
}
.smallbutton
{
    padding: 1px 5px;
    color:White;
    border-radius:5px;
}
.green {
    background-image:linear-gradient(#60A060, #407040);
    background-color: #407040;
    border:solid 1px #306030;
}
.green:hover
{
    background-image:linear-gradient(#80C880, #609060);
}

.grey {
    background-image:linear-gradient(#B0B0B0, #808080);
    background-color: #808080;
    border:solid 1px #707070;
}
.menu .wide
{
    display:none;
}
.title-page .wide-only
{
    display:none;
}

.faq ol
{
    padding-left:2em;
    margin-top:0px;
}
.faq li
{
    margin:0px;
}

/* responsive design features */
@media screen and (max-width:478px)
{
    div.banner
    {
	display:none;
    }
    div.menu div.center-menu
    {
	display:none;
    }
    div.menu div.inline-banner
    {
	display:inline;
    }
    div.menu .label
    {
	display:none;
    }
    div.noscroll-content
    {
	top:47px;
    }
    div.fullscreen-img
    {
	background-position:center -47px;
    }
    .tile
    {
	width:48%;
    }
    .drop-twocol
    {
	display:none;
    }
    .media_logo img
    {
	display:none;
    }
}
@media screen and (min-width:479px) and (max-width:560px)
{
    div.banner
    {
	display:none;
    }
    div.menu div.center-menu
    {
	display:none;
    }
    div.menu div.inline-banner
    {
	display:inline;
    }
    div.noscroll-content
    {
	top:47px;
    }
    div.fullscreen-img
    {
	background-position:center -47px;
    }
}
@media screen and (min-width:561px) and (max-width:610px)
{
    div.menu div.center-menu
    {
	display:none;
    }
}
@media screen and (min-width:611px) and (max-width:790px)
{
    div.menu .label
    {
	display:none;
    }
}
@media screen and (min-width:1020px)
{
    .content
    {
	max-width:1000px;
    }
    .main-section
    {
	padding: 8px 8px 0px 8px;
    }
    .main-section
    {
        padding:8px 8px 0px 8px;
    }
    .main-col
    {
	width:752.6667px;
	padding: 0px 15.6667px 0px 15.6667px;
    }
    .aux-col
    {
	border-left:solid 1px #A0A0A0;
	padding: 0px 15.6667px 0px 15.6667px;
    }
    .tile-container-aux
    {
	flex-direction:column;
    }
    .aux-col-item
    {
	width:161.6667px;
	margin:5px 0px;
	flex-grow:0;
	-webkit-flex-grow:0;
    }
    .vertical-spacer
    {
	display:inline;
    }
    .title-page .aux-col {
	order:2;
        -webkit-order:2;
    }
    .title-page .narrow-only
    {
	display:none;
    }
    .title-page .wide-only
    {
	display:inline-block;
    }
    .menu .wide
    {
	display:inline-block;
    }
    .menu .search-bt-only
    {
	display:none;
    }
}

@media screen and (min-width:700px)
{
    .two-col {
	width:45%;
    }
    .two-col2
    {
	display:block;
	width:49%;
	padding:0;
	margin:0px;
	border:solid 1px #C0C0C0;
	border-radius:10px;
    }
}
